*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor-total{
    width: 90%;
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.contenedor-total h1{
    margin: 20px;
    letter-spacing: 2px;
    color: rgb(33, 33, 53);
    text-align: center;
}

.contenedor-total .contenedor-img{
    width: 60%;
    height: 70%;
   /* border: 2px solid red;*/
    margin: auto;
   /* object-fit: cover;*/
}

.contenedor-total .contenedor-img img{
    width: 100%;
    height: 100%;
    
}
